body {background-color: #c9f2dc;
    text-align: center;
    margin: 0px ;

}

h2 { 
    color:blue; 

}
.solid-box {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    border-radius: 12px;
    padding: 20px;
    border: 3px solid green; 


}

 .dashed-box {
    background-color: white;
    width: 80%; 
    margin: 20px auto;
    border-radius: 12px;
    padding: 20px;
    border: 8px dashed rgb(19, 13, 13); 

}

.dotted-box {
    border: 5px dotted yellow;
    background-color: white;
    width: 80%;
    margin: 20px auto;
    border-radius: 12px;
    padding: 20px;


}
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;


}
nav{
    background-color: rgb(119, 20, 20);
    padding: 15px;
    text-decoration: dotted;
    margin: 0 15px;
}
h1{
    font-weight: 500;
    color: rgb(119, 113, 175);
}